@(message: String, title: String, address: String)

@main("OOCSI development and testing") {

@elements.navigation("tools")

<div class="container">

	<div class="row">
		<div class="col s12">
			<p>
				Test OOCSI for Web code on this server directly with a client<span id="clientName"></span>. Open a <a href="@routes.Tools.testVisual()" target="_blank">new client window</a> in another tab.
			</p>
		</div>

		<div class="col s12 m7">
			<div class="col s12 card">
				<h6>Subscribe and receive data</h6>
				<div class="input-field">
					<input id="c1_channel" type="text" name="c1_channel">
					<label for="c1_channel">Channel name</label>
					<a id="c1_subscribe" class="btn blue">Subscribe</a>
					<a id="c1_unsubscribe" class="btn red">Unsubscribe</a>
					<a id="c1_clear" class="btn grey">Clear</a>
				</div>
				<div id="c1_results" style="padding: 1em 0; height: 37em; overflow: scroll;"></div>
			</div>
			<small>
				Note that you cannot receive (left) on the channel that you send stuff out (right). To do that you need a second client. Open a second a tab with this <a href="@routes.Tools.testVisual()" target="_blank">link</a> and you are good to go.
			</small>
		</div>

		<div class="col s12 m5 card">
			<h6>Send data</h6>
			<div class="input-field">
				<input id="c2_channel" type="text" name="c2_channel">
				<label for="c2_channel">Channel name</label>
				<textarea id="c2_data" class="materialize-textarea" style="height: 10em; font-family: monospace;">{"number": 123, "text": "content", "boolean": true}</textarea>
				<a id="c2_send" class="btn blue">Send</a>
				<a id="c2_clear" class="btn grey">Clear responses</a>
				<div class="input-field">
			     	<label>
						<input id="sendAsCall" type="checkbox" />
						<span>Send as a call</span>
					</label>
				</div>
			</div>
			<div id="c2_results" style="margin-top: 4em; padding: 1em 0; height: 30em; overflow: scroll;"></div>
		</div>

	</div>
</div>


<script type="text/javascript">
	
	// setup
	// --------------------------------------------------------------------
	// connect to OOCSI server running on IP
	OOCSI.connect((window.location.protocol === 'https:' ? 'wss://' : 'ws://') + window.location.host + '/ws', 'OOCSI/test/visual_####', function(e) {
			$('#c2_results').append('<p>' + JSON.stringify(e.data) + '</p>');
	});

	setTimeout(function(){
		clientName.innerHTML = ", connected as <code>" + OOCSI.handle() + "</code>"
		let subscription = readCookie('subscription');
		if(subscription && subscription.length > 0) {
			$('#c1_channel').val(subscription)
		}
	}, 500);

	$('#c1_subscribe').click(function(e) {
		e.preventDefault();

		let channelName = $('#c1_channel').val();
		if(channelName.length == 0) { return false; }

		createCookie('subscription', channelName);
		OOCSI.subscribe(channelName, function(e) {
			$('#c1_results').append('<p>' + JSON.stringify(e.data) + '</p>');
		});
		return false;
	});

	$('#c1_unsubscribe').click(function(e) {
		e.preventDefault();

		let channelName = $('#c1_channel').val();
		channelName = channelName.split("[")[0];
		if(channelName.length == 0) { return false; }
		OOCSI.unsubscribe(channelName);
		return false;
	});

	$('#c1_clear').click(function(e) {
		e.preventDefault();

		$('#c1_results').empty();
		return false;
	});
	
	$('#c2_clear').click(function(e) {
		e.preventDefault();

		$('#c2_results').empty();
		return false;
	});
	
	$('#c2_send').click(function(e) {
		e.preventDefault();

		let channelName = $('#c2_channel').val();
		let data = $('#c2_data').val();

		// normal send
		if($('#sendAsCall:checked').length == 0) {
			OOCSI.send(channelName, JSON.parse(data));
		} else {
			OOCSI.call(channelName, JSON.parse(data), 2000, function(data) {
				console.log(e);
				$('#c2_results').append('<p>' + JSON.stringify(data) + '</p>');
			});
		}
		return false;

	});

	/******************************************************************/

	function createCookie(name, value, days) {
	    var expires;

	    if (days) {
	        let date = new Date();
	        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
	        expires = "; expires=" + date.toGMTString();
	    } else {
	        expires = "";
	    }
	    document.cookie = name + "=" + value + expires + "; path=/";
	}

	function readCookie(name) {
	    var nameEQ = name + "=";
	    var ca = document.cookie.split(';');
	    for (var i = 0; i < ca.length; i++) {
	        var c = ca[i];
	        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
	        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
	    }
	    return null;
	}

	function eraseCookie(name) {
	    createCookie(name, "", -1);
	}

</script>
}